* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}


body{
  font-family: Helvetica, Arial, sans-serif;
  font-size:13px;
  background:#fff;
  padding-top: 20px;
}

strong{
  font-weight:bold;
}

a{
  color:#2382c8;
  text-decoration:none;
}
a:visited{
  color:#457289;
}
a:hover{
  text-decoration:underline;
}

hr{
  margin:15px 0;
  height:1px;
  padding:none;
  background:#ddd;
  border:none;
}

.sidebar{
  float:left;
  padding:0 40px 0 30px;
  width:240px;
}
.main{
  float:left;
  padding-bottom:50px;
  width:560px;
}
