/*Colours worth mentioning:
  Background colour
  Text color
  Anchor color
  Nav list anchor
  Nav list anchor hover
  Horizontal rule
*/


body {
  background: #fff;
  color: #444;
  margin-top: 60px;
  margin-bottom: 60px;
  text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-family: "museo-slab", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.post {
  text-align: justify;
}
a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-left: 10px;
  font-style: italic;
}

.date {
  margin-top: -10px;
  margin-bottom: 15px;
  font-weight: bold;
}

#dsq-content {
  margin-top: -54px;
}

.email {
  font-weight: bold;
}
.contact {
  font-weight: bold;
}
/* Sidebar */

#d3-logo {
/*  margin-top: 30px;*/
/*  margin-bottom: 5px;*/
}

ul.nav{
  border-top: 1px solid #ccc;
}

ul.nav li{
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

ul.nav li a{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
ul.nav li a:hover{
  color: #000;
}

/* Code */

pre{
  margin:16px 0;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left:1px solid #ccc;
  overflow:auto;
  background: #eee;
  -webkit-font-smoothing:subpixel-antialiased;
  border-radius: 10px;
}
pre code{
  display:block;
}

