body {
  font: 14px Helvetica Neue;
  margin-top: 1em;
  color: #444;
  margin-top: 60px;
  text-rendering: optimizelegibility;
/*  display: block;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.list {
  clear: left;
  margin-top: 14px;
}

.list img {
  float: left;
}


.date {
  margin-top: -10px;
  margin-bottom: 15px;
}

#dsq-content {
  margin-top: -54px;
/*  padding-top: -50px;*/
}

/* Sidebar */
ul.nav{
  border-top: 1px solid #ccc;
}
ul.nav li{
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}
ul.nav li a{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
ul.nav li a:hover{
  color: #000;
}
