<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/css/text.css" type="text/css">
	<link rel="stylesheet" href="/css/960_12_col.css" type="text/css">
	<link rel="stylesheet" href="/css/site.css" type="text/css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27754379-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<
  g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
  mixpanel.init("71aa93d0eb5d802f519ed1d98fcdbd91");</script>

  <script type="text/javascript">
  mixpanel.track_links("a #cv", "Click CV");
  </script>

  
</head>
<body>
<div class="container_12">
  <div class="grid_12">  
    <h1><a href="/">Andrew Tulloch</h1>
  </div>
</div>
<div class="container_12">
  <div class="sidebar grid_3">
    <ul class="nav"> 
      <li><a href="/">Home</a></li>
      <li><a id="cv" href="/PDFs/AndrewTullochCV.pdf">CV</a></li>
    </ul>
    <p>I'm Andrew Tulloch.  I'm an engineer at Facebook.</p>
    <p>I'm available on <a href="https://github.com/ajtulloch">GitHub</a>, <a href="http://www.linkedin.com/profile/view?id=159181862&locale=en_US&trk=tab_pro">LinkedIn</a>, <a href="https://twitter.com/#!/ajtulloch">Twitter</a>, and <a href="http://www.facebook.com/andrew.tulloch">Facebook</a>.</p>
  </div>
  
  <div class="main grid_7">
    {{ content }}
  </div>
</div>
</body>
</html>