<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/css/text.css" type="text/css">
	<link rel="stylesheet" href="/css/960_12_col.css" type="text/css">
	<link rel="stylesheet" href="/css/site.css" type="text/css">
	<link rel="stylesheet" href="/css/syntax.css" type="text/css">

  <!--  -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/d3.v2.js"></script>
	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27754379-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <script type="text/javascript" src="/js/d3_logo.js"></script>
  
  <script type="text/javascript" src="http://use.typekit.com/lzh4sim.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
</head>
<body>

<div class="container_12">
  <div class="sidebar grid_3">
    <hr>
    <h1><a href="/">Andrew Tulloch</a></h1>
    <div class="d3-logo">
    </div>
    <ul class="nav"> 
      <li><a href="/">Home</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/PDFs/AndrewTullochCV.pdf">CV</a></li>
    </ul>
    <p>I'm Andrew Tulloch.  I'm an engineer at Facebook.</p>
    <p>I'm available on <a href="https://github.com/ajtulloch">GitHub</a>, <a href="http://www.linkedin.com/profile/view?id=159181862&locale=en_US&trk=tab_pro">LinkedIn</a>, <a href="https://twitter.com/#!/ajtulloch">Twitter</a>, and <a href="http://www.facebook.com/andrew.tulloch">Facebook</a>.</p>
  </div>
  
  <div class="main grid_7">
    {{ content }}
  </div>
</div>
</body>
</html>